@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root {
  --primary-color: #002240;
  --secondary-color: #171b29;
  --dark-color: #002240;
  --light-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.6;
}

ul {
list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

h1 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

h2 {
  font-weight: 300 bold;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color:white;
  height: 100px;
}

.navbar ul {
  display: flex;
}

.navbar a:hover {
  border-bottom: 2px solid red;
}

.navbar a {
  color: white;
  padding: 5px;
  margin: 0 5px;

}

.navbar .flex {
  justify-content: space-between;
}

/* Stats */
.stats {
  padding-top: 150px;
}


.stats-heading {
  margin: auto;
  max-width: 500px;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* Utilities CSS */
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.card {
  background-color: #fff;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}

.btn:hover {
  transform: scale(0.98);
}


/* Backgrounds & colored buttons */

.bg-primary,
.btn-primary {
  background-color: var(--light-color);
  color: rgb(0, 0, 0);
}

.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}


.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: #fff;
}

/* Text sizes */

.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}


.text-center {
  text-align: center;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-4 {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 5fr 2fr;  
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* CLI */

.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/* Cloud */

.cloud .grid {
  grid-template-columns: 4fr 3fr;
}


/* Languages */

.languages .card {
  text-align: center;
  transition: transform 0.2s ease-in;
  width: 100%;
  margin: 30px 5px 20px;
  height: auto;
  object-fit: cover;
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: translateY(-15px);
}

.grid-5 {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container-card {
  max-width: 1100px;
  padding: 0 40px;
}

/* About me */
.about-me img {
  width: 200px;
}

.about-me .grid h1 {
  text-decoration: underline red;
}

.languages .grid-5 h1 {
  text-decoration: underline red;
}

.grid-5 h1 {
  text-decoration: underline red ;
}

/* Contact me New */

.grid-6 h1 {
text-decoration: underline red;
}

.contact h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contact p {
  width: 100%;
  text-align: center;
}

.contact p a {
  text-decoration: underline;
}

.contact form {
  display: flex;
  flex-wrap: wrap;
}

.contact input {
  width: calc(50% - 10px);
  margin: 0;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.contact input:first-of-type {
  margin-right: 20px;
}

.contact textarea {
  width: 100%;
  height: 200px;
  resize: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.contact input,
.contact textarea {
  border-radius: 0px;
  padding: 10px;
  border: none;
  border: 2px solid #6ea9f2;
  margin-top: 20px;
}

.contact input[type="submit"] {
  width: 100%;
  background: #6ea9f2;
}

.contact form.lightTheme {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact form.darkTheme input:not([type="submit"]),
.contact form.darkTheme textarea {
  color: #fafafa;
  background: #555;
}

.contact form.darkTheme ::-webkit-input-placeholder {
  color: #fafafa;
  opacity: 0.7;
}

.contact form.darkTheme :-ms-input-placeholder {
  color: #fafafa;
  opacity: 0.7;
}

.contact form.darkTheme ::-ms-input-placeholder {
  color: #fafafa;
  opacity: 0.7;
}

.contact form.darkTheme ::placeholder {
  color: #fafafa;
  opacity: 0.7;
}


.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
          clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.lightTheme {
  background: #fafafa;
  -webkit-box-shadow: 0 0 10px 5px #ccdce3;
          box-shadow: 0 0 10px 5px #ccdce3;
}































/* Footer */
.footer .social a {
  margin: 0 10px;
}



/* Tablets and under */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .achievements-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }


  /*
  .achievements-head,
  .achievements-sub-head,
  .docs-head {
    text-align: center;
  }

  .achievements-head img,
  .achievements-sub-head img,
  .docs-head img {
    justify-self: center;
  }

  .achievements-main .grid > *:first-child,
  .achievements-main .grid > *:nth-child(2) {
    grid-column: 1;
  }
  */
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .showcase-form {
    width: 300px;
  }
}

/* Tablet cards */
@media (max-width: 700px) {
  .languages .card {
    text-align: center;
    width: 100%;
    object-fit: cover;
    margin: 6px 5px 20px;
    height: auto;
    flex-basis: 30%;
  }
  .languages .flex {
    flex-wrap: wrap;
  } 
}







/* Margin */


/*
.my-1 {
  margin: 1rem 0;
}
*/
.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

